<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand=">Admin</a>
    <a class="btn btn-danger">Se deconnecter</a>
</nav>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th> <th>NOM</th> <th>DESCRIPTION</th> <th>PRIX</th> <th>QUANTITE</th> 
                    </tr>         
                </thead>
                <tbody>
                    <tr *ngFor="let training of listTrainings" class="list-group-item-action">
                        <td>{{training.id}}</td>
                        <td>{{training.name}}</td>    
                        <td>{{training.description}}</td>
                        <td>{{training.price}}</td>
                        <td> <a class="btn btn-primary">Modifier</a></td>
                            <!--(click)="ModifyTraining(training)"> Modifier</a></td>-->
                        <td> <a class="btn btn-danger"> Supprimer</a></td>
                            <!--(click)="deleteTraining(training)"> Supprimer </a></td>-->
                    </tr>
                 </tbody>
            </table>  
    


            <div class="card mt-4">
                <div class="card-body">
                    <div class="card-tilte">
                        Inserer une nouvelle formation
                    </div>
                        <div class="form-group">
                            <br>
                            Nom de la formation <input type="text"  class="form-control">
                           
                           Description <input type="text"  class="form-control">
                           Prix <input type="text" class="form-control">
                           <br>
                           <td> <a class="btn btn-primary">Ajouter</a></td>
                           <!--(click)="AddTraining(training)"> Ajouter</a></td>-->
                        </div>
                </div>
            </div>
    </div>
</div>  
</div>