.container{
    width: 500px;
    height: 400px;
    text-align: left;
    top: 500px;
    background-color: rgb(235, 235, 225);
    padding: 50px 70px;
    border-radius: 15px;
}



button {
    width : 340px;
    text-align: center;
    padding: 20px 0;
    background-color: #3835f0;
    border: 2px;
    border-radius: 15px;
    outline: none;
    margin-top : 40px
}